* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

/* 最外面背景 */
#container {
    width: 100%;
    height: 300px;
    background-color: #424242;
}

/* 上半部輸入身高體重 */
#status {
    max-width: 1024px;
    height: 300px;
    background-color: #424242;
    margin: auto;
    display: flex;
}

/* 包住LOGO 輸入區塊  計算按鈕 */
#status-content {
    width: 624px;
    background-color: #424242;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
#BMIlogo {
    width: 117px;
    height: 117px;
}

/* 兩個LABEL跟兩個INPUT */
.personal-information {
    display: block;
    margin-bottom: 10px;
}

/* 身高體重的字型大小 */
.height,
.weight {
    font-size: 18px;
    color: #FFD366;
}

/* 身高體重的輸入框樣式 */
.height-input,
.weight-input {
    width: 250px;
    height: 40px;
    background: rgba(255, 255, 255, 0.18);
    border: 2px solid #FFD366;
    border-radius: 10px;

    font-family: SFNSDisplay;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.50);
    padding-left: 10px;
}

/* 更改placeholder顏色 */
.height-input::placeholder,
.weight-input::placeholder {
    color: rgba(255, 255, 255, 0.50);
}

/* 計算按鈕 */
#watch-result {
    width: 120px;
    height: 120px;
    background-color: #FFD366;
    border-radius: 100%;

    text-align: center;
    line-height: 120px;
    color: #424242;
    font-family: PingFangTC-Regular;
    font-size: 24px;

    display: none;
}

/* 按鈕被滑鼠碰到的時候 */
#watch-result:hover {
    background: #FFD366;
    box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

/* 滑鼠按下的時候 */
#watch-result:active {
    background: #DEA821;
    box-shadow: none;
}

/* LOGO 輸入區塊 計算按鈕 排版 */
#BMIlogo,
#personal-information,
#watch-result {
    display: inline-block;
    vertical-align: top;
}

/* 右邊圈圈加文字 */

.createcircle {
    display: flex;
    align-items: center;
    /* 右邊的字用的定位 */
    position: relative;
    /* display: none; */
    /*暫時隱藏用*/
}

.circle {
    width: 123px;
    height: 123px;

    /* border: 6px solid #86D73F; */
    border-radius: 100%;
    /* IMG用的定位 */
    position: relative;
}

.circle>p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle>p>span:nth-child(1) {
    font-family: SFNSDisplay;
    font-size: 32px;

    /* color: #86D73F; */
}

.circle>p>span:nth-child(2) {
    font-family: AppleSystemUIFont;
    font-size: 14px;

    /* color: #86D73F; */
}

.circle-img {
    width: 14px;
    height: 19px;
    /* background: #86D73F; */
    /* border: 3px solid #424242; */
}

.circle>div {
    /* 定位在circle上的定位 */
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30px;
    height: 30px;

    /* background: #86D73F; */
    border: 3px solid #424242;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
}

.circle-status {
    font-family: SFNSDisplay;
    font-size: 32px;
    width: 130px;
    /* color: #86D73F; */
    /* 定位在createcircle上的定位 */
    position: absolute;
    left:150px;
}

/* 右邊圈圈加文字結束 */


/* 下半部開始 */
/* 下半部背景 */
#layout {
    width: 100%;
}

/* 下半部字和資訊共同部分 */
.layout {
    max-width: 1024px;
    width: 624px;
    margin: auto;
}
/* 排序顏色與資訊 */
.all-info{
    display: flex;
    justify-content: center;
}
/* bmi紀錄的字 */
.bmi-record {
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #424242;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: auto;
}

/* 資訊欄 */
.all-info-detail {
    background-color: #fff;
    width: 617px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    display: flex;
    margin-bottom: 16.26229508196721px;
}

/* 設定資訊欄字體顏色大小(數字部分) */
.layout-status,
.layout-BMI,
.layout-weight,
.layout-height,
.layout-date {
    width: 20%;
    font-family: SFNSDisplay;
    font-size: 20px;
    color: #4A4A4A;
}

/* 設定資訊欄字體大小(文字部分) */
.bmi-font-size,
.weight-font-size,
.height-font-size,
.date-font-size {
    font-size: 12px;
}

.layout-status {
    text-align: start;
    padding-left: 12.3px;
}

/* 資訊欄前面顏色 */
.all-info-color {
    width: 7px;
    height: 62px;
    box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
}

/*偽元素更改工程浩大*/
/* .all-info::before {
    content: '';
    width: 7px;
    height: 62px;
    background: #86D73F;
    box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
} */

/* 下半部結束 */

/* footer開始 */
.footer{
    width: 100%;
    height: 90px;
    background: #FFD366;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.footer::after{
    content:'';
    background-image: url(/BEGINER_HW/assets/BMICLogo.png);
    width: 55px;
    height: 55px;
    background-size: 55px 55px;
    display: block;
    filter: brightness(0.3);
}
/* .footer-logo{
} */
/* footer結束 */
